body {
   background-color: black;
   position: relative;
   display: flex;
   flex-direction: column;
}

h1 {
    color: white;
    font-size: 5vw;
    font-family: Copperplate, Papyrus, fantasy;
    margin-bottom: 0px;
    align-self: center;
    text-shadow: 1px 1px 8px white;
}

h2 {
    color: white;
    text-shadow: 1px 1px 8px white;
    font-size: 3vw;
    font-family: Copperplate, Papyrus, fantasy;
    margin-top: 0vw;
    margin-bottom: 0vw;
    align-self:center;
    margin-left: 30vw;
}

.filter {
    margin-top: 4vw;
    margin-bottom: 4vw;
    width: 80vw;
    text-align: center;
    align-self: center;
}

input[type=text]{
    width: 40%;
    max-width: 90%;
    height: 3vw;
    background-color: rgba(20, 20, 20, 0.452);
    border: 1px solid white;
    color: white;
    padding-left: 1vw;
    font-size: 1.5vw;
    font-family: cursive;
    border-radius: 0.5vw;
}

input[type=text]::placeholder {
    text-align: center;
}

.card-body {
    width: 90%;
    align-self: center;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;   
}

.character {
    width: 25vw;
    height: 25vw;
    margin-bottom: 3vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    height: 3vw;
    width: 90%;
    color: white;
    align-items: center;
    font-size: 2vw;
    font-family: Copperplate, Papyrus, fantasy;
    display: inline;
}

.imgBox {
    border-radius: 1vw;
    width: 18vw;
    height: 18vw;
    cursor:pointer;
}

.imgBox:hover {
    width: 19vw;
    height: 19vw;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 9vw;
}

.character-tooltip {
    border: 0.1vw solid white;
    background-color: rgba(14, 13, 13);
    box-shadow: 0.1vw 0.1vw 1.2vw 0.1vw rgb(247, 230, 230);
    width: 80%;
    max-width: 90%;
    height: 75%;
    border-radius: 1vw;
    z-index: 2;
    position:fixed;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 10%;
    top: 10%;
    cursor:pointer;
}

.tooltip-header {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.tooltip-name {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: Copperplate, Papyrus, fantasy;
    display: inline-flex;
    margin-bottom: 2.5vw;
    margin-top: 5vw;
}

.tooltip-imgBox {
    width: 80%;
    height: 40%;
    max-width: 80%;  
    max-height: 40%;
    align-self: center;
    text-align: center;
}

.tooltip-img {
    width: 15vw;
    height: 15vw;
    border-radius: 9vw;
   

}

.vertical-line {
    border-left:0.1vw solid white;
    height: 90%;
    margin-right: 2vw;
    margin-top: 2vw;
}

.tooltip-information {
    display: flex;
    flex-direction: row;
}

.inform1 {
    width: 100%;
    height:90%;
    margin-top: 1.5vw;
    margin-right: 4vw;
}

.inform2 {
    width: 100%;
    height:90%;
    margin-top: 1.5vw;
    margin-right: 4vw;
}

table {
    font-family:cursive;
    border-collapse:collapse;
    font-size: 0.9vw;
    width: 100%;
    height: 100%;
}
  
table td {
    border-bottom: 1px solid rgb(41, 39, 39);
    background-color: rgb(14, 13, 13);
    color: white;
    text-align: left;
    padding: 1vw;
}

.house {
    width: 40%;
    height: 20%;
}

.house-img {
    border-radius: 0.5vw;
    width: 8vw;
    height: 7vw;
}

@media only screen and (min-width: 1050px) and (max-width: 1280px) {
    table {font-size: 1.1vw;}
    .tooltip-img {width: 17.5vw;height: 17.5vw;border-radius: 9vw;}
    .tooltip-header {width: 35%;}
}

@media only screen and (min-width: 912px) and (max-width: 1050px) {
    table {font-size: 1.3vw;}
    .tooltip-img {width: 17.5vw;height: 17.5vw;border-radius: 9vw;}
    .tooltip-header {width: 38%;}

}

@media only screen and (max-width: 912px) {
    .imgBox {width: 22vw;height: 22vw;}
    .img {border-radius: 11vw;}
    .character-tooltip {width: 70%;display: flex;flex-direction: column;align-items: center;
        justify-content: center;left: 15%;overflow-y: scroll;padding: 2vw;}
    .vertical-line {display: none;}
    .tooltip-name {font-size: 3.5vw;margin-bottom: 2vw;}
    .tooltip-img {width: 20vw;height: 20vw;border-radius: 10vw; }
    .tooltip-header {text-align: center; width: 100%;}
    table {font-size: 1.8vw;}
    .tooltip-information {display: flex;flex-direction: column;align-items: center;width: 90%;}
    .inform1 {width: 80%;height:70%;margin-right: 0vw;}
    .inform2 {width: 80%;height:70%;margin-right: 0vw;}
    .house {width: 100%;display: flex;flex-direction: column;align-items: center;}
    .house-img {width: 20%;height: 60%;margin-top: 2vw;}
    table td {width: 11vw;}
    .house-img {width: 30vw;height: 16vw;}
}
@media only screen and (min-width: 540px) and (max-width: 768px) {
    table {font-size: 2vw;}
    .tooltip-img {width: 26vw;height: 26vw;border-radius: 13.5vw; }
    .tooltip-header {margin-top: 20vw; }

}
@media only screen and (min-width: 450px) and (max-width: 540px) {
    table {font-size: 2.8vw;}
    .tooltip-img {width: 28vw;height: 28vw;border-radius: 14vw; }
    .tooltip-name {font-size: 5vw}
    .tooltip-header {margin-top: 49vw;}

}
@media only screen and (min-width: 375px) and (max-width: 450px) {
    table {font-size: 3vw;}
    .tooltip-img {width: 30vw;height: 30vw;border-radius: 15vw; }
    .tooltip-name {font-size: 5vw}
    table td {width: 16vw;}
    .character-tooltip {height: 50%;}
    .tooltip-header {margin-top: 50vw;}
    .character-tooltip {left: 15%;top: 20%;}
}
@media only screen and (min-width: 280px) and (max-width: 375px) {
    .character-tooltip {height: 60%;}
    table {font-size: 3vw;}
    .tooltip-img {width: 34vw;height: 34vw;border-radius: 17vw; }
    .tooltip-name {font-size: 5vw}
    table td {width: 17vw;}
    .tooltip-header {margin-top: 52vw;}
}
@media only screen and (max-width: 280px) {
    .character-tooltip {height: 60%;}
    table {font-size: 3.5vw;}
    .tooltip-img {width: 34vw;height: 34vw;border-radius: 17vw; }
    .tooltip-name {font-size: 5vw}
    table td {width: 18vw;}
}