body {
   background-color: black;
   position: relative;
  
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
}

input[type=text]{
    width: 50%;
    max-width: 90%;
    height: 30px;
    background-color: rgba(20, 20, 20, 0.452);
    border: 1px solid rgb(20, 20, 20);
    color: white;
    padding-left: 10px;
    font-size: 18px;
    font-family: cursive;
    margin-right: 5px;
    border-radius: 10px;
}

.card-header {
    text-align: center;
}

.character {
    border: 1px solid white;
    background-color: rgba(14, 13, 13);
    width: 28%;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card-body {
    /* border: 1px solid red; */
    width: 90%;
    align-self: center;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
}

body {
    display: flex;
    flex-direction: column;
}

.character-tooltip {
    border: 1px solid white;
    background-color: rgba(14, 13, 13);
    box-shadow: 1px 1px 20px 1px rgb(247, 230, 230);
    width: 80%;
    max-width: 90%;
    height: 75%;
    border-radius: 10px;
    z-index: 2;
    position:fixed;
    align-self: center;
    /* margin-top: 80px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      /* margin: auto; */
    left: 10%;
    top: 10%;
    /* border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent; */
}

.tooltip-header {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip-information {
    display: flex;
    flex-direction: row;
    max-width: 70%;
}

.name {
    height: 30px;
    width: 90%;
    color: white;
    align-items: center;
    font-size: 23px;
    font-family: Copperplate, Papyrus, fantasy;
    display: inline;
}

.fa {
    color: white;
    margin-left: 298px;
    width: 10px;
    height: 10px;
    font-size: 18px;
}

.tooltip-name {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: Copperplate, Papyrus, fantasy;
    display: inline-flex;
    margin-bottom: 30px;
    margin-top: 80px;
}



.imgBox {
    border: 1px solid white;
    border-radius: 10px;
    width: 60%;
    height: 60%;
}

.tooltip-imgBox {
    border: 1px solid white;
    max-width: 80%;  
    max-height: 40%;
    align-self: center;
    border-radius: 5px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.tooltip-img {
    width: 100%;
    height: 100%;
}



.vertical-line {
    border-left:1px solid white;
    height: 90%;
    margin-right: 25px;
    margin-top: 27px;
    
}

.inform1 {
    width: 100%;
    height:90%;
    margin-top: 20px;
    margin-right: 60px;
   

}

.inform2 {
    width: 100%;
    height:90%;
    margin-top: 20px;
    margin-right: 60px;
}

.house {
    width: 40%;
    height: 20%;
    border-radius: 10px;
}

.house-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

table {
    font-family:cursive;
    border-collapse:collapse;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
  
table td {
    border-bottom: 1px solid rgb(41, 39, 39);
    background-color: rgb(14, 13, 13);
    color: white;
    text-align: left;
    padding: 3px;

}
  

@media (max-width: 600px){
    .character-tooltip {
        padding-bottom: 10px;
    }
    .tooltip-information {
        flex-wrap: wrap;
        height: 45%;
    }
    .house-img {
        margin-top: 20px;
        margin-bottom: 10px;
        width: auto;
    }
}



