body {
   background-color: black;
}

.card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family:cursive;
    margin-top: 50px;
    width: 50%;
}

.filter {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
}

input[type=text]{
    width: 35%;
    height: 30px;
    background-color: rgba(20, 20, 20, 0.452);
    border: 1px solid rgb(20, 20, 20);
    color: white;
    padding-left: 10px;
    font-size: 18px;
    font-family: cursive;
    margin-right: 5px;
}

input[type=button]{
    height: 35px;
    background-color: rgb(20, 20, 20) ;
    color: white;
}

.card-header {
    text-align: center;
}

.character {
    border: 1px solid white;
    background-color: rgba(14, 13, 13);
    width: 350px;
    height: 350px;
    /* border-radius: 10px; */
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-body {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
}

.character-tooltip {
    border: 1px solid white;
    background-color: rgba(14, 13, 13);
    width: 90%;
    height: 80%;
    border-radius: 10px;
    z-index: 2;
    position: fixed;
    align-self: center;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.tooltip-header {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip-information {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.name {
    /* border: 1px solid purple; */
    height: 30px;
    width: 90%;
    color: white;
    align-items: center;
    font-size: 23px;
    font-family: cursive;
    display: inline;
}

.fa {
    /* border: 1px solid purple; */
    /* background-color: black; */
    color: white;
    margin-left: 328px;
    /* font-size: 20px; */
    width: 10px;
    height: 10px;
    /* border: 1px solid green; */
}

.tooltip-name {
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: cursive;
    display: inline-flex;
    margin-bottom: 30px;
    margin-top: 80px;
}



.imgBox {
    border: 1px solid white;
    width: 60%;
    height: 60%;
}

.tooltip-imgBox {
    border: 1px solid white;
    width: 80%;
    height: 40%;
    align-self: center;
    border-radius: 5px;
}

.img {
    width: 100%;
    height: 100%;
}

.tooltip-img {
    width: 100%;
    height: 100%;
}
.house-img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}


.vertical-line {
    border-left:1px solid white;
    height: 480px;
    margin-right: 25px;
    margin-top: 27px;
    
}

.inform1 {
    width: 100%;
    height:90%;
    margin-top: 20px;
    margin-right: 60px;

}

.inform2 {
    width: 100%;
    height:90%;
    margin-top: 20px;
    margin-right: 60px;
}

.house {
    width: 40%;
    height: 20%;
    border-radius: 10px;
    margin-right: -5px;
}

table {
    font-family:cursive;
    border-collapse:collapse;
    font-size: 12px;
    width: 100%;
    height: 100%;
}
  
table td {
    border-bottom: 1px solid rgb(41, 39, 39);
    background-color: rgb(14, 13, 13);
    color: white;
    text-align: left;
    padding: 3px;

}
  
table tr {
    background-color: #dddddd;
}



